body {
  font-family: Arial, sans-serif;
  background: #f3e8ff;
}

.container {
  width: 350px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.subtitle {
  color: gray;
  font-size: 14px;
}

.chat-box {
  height: 180px;
  border: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.user {
  color: blue;
  text-align: left;
}

.ai {
  color: green;
  text-align: left;
}

input {
  width: 80%;
  padding: 6px;
}

button {
  padding: 6px 10px;
  margin-top: 5px;
  background: #7c3aed;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feature-btn {
  width: 100%;
  margin-top: 10px;
}

.sos-btn {
  background: red;
  width: 100%;
  margin-top: 10px;
}

.helplines {
  margin-top: 15px;
  background: #f9f5ff;
  padding: 10px;
  border-radius: 8px;
}
